/* stylelint-disable */
h1 {
  border: none !important;
  font-size: 3.82rem !important;
  text-transform: uppercase;
}

pre {
  padding: 25% 0 !important;
}

code.fragment {
  display: block;
  text-align: left;
  width: 100%;
}
