{
  "name": "unspray",
  "version": "1.0.0",
  "description": "An example CLI for SEM.js",
  "main": "index.js",
  "author": "Bernardo Pacheco",
  "license": "MIT",
  "bin": {
      "unspray": "./index.js"
  }
}
