#!/usr/bin/env node
const program = require("commander");
const chalk = require("chalk");
const request = require("request-promise");

const config = require("./config.js");

program
  .option(
    "-q, --query <query>",
    "Search query"
  )
  .option(
    "-p, --page [page]",
    "Page number"
  )
  .option(
    "-r, --results-per-page [resultsPerPage]",
    "Number of results per page",
    parseInt,
    10
  )
  .parse(process.argv);

const options = {
  uri: config.searchUrl,
  qs: {
    client_id: config.applicationID,
    query: program.query,
    page: program.page ? program.page : "1",
    per_page: program.resultsPerPage
  },
  json: true
};

request(options)
  .then(data => {
    console.log(chalk.underline.green("Search results"));
    data.results.forEach(result => {
      console.log("id: ", result.id);
      console.log("photo:", result.links.html);
      console.log();
    });
  })
  .catch(error => {
    console.log(chalk.red("There was a problem", error));
  });
